.course__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.course__range{
    margin-top: 12px;
    margin-bottom: 40px;
}


.course-item{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 6px;
    margin-bottom: 5px;
    max-width: 600px;
    padding: 4px;
}

.course-item__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.course-item__price{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}