.App {
    background: #f6f8fb;
    padding-top: 24px;
    height: 100vh;
}
.App-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #44d600;
    width: 100%;
    text-align: center;
}
